/* Header */
.header {
    background-color: #0077FF;
    text-align: left;
    font-family: Cambria;
}

body {
  font-family: Cambria;
}

/* Navigation Bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Spiele */
#spiele, #all-games {
    position: relative;
    overflow: hidden; /* Hide the scroll bar */
}

.spiel-container {
    display: flex;
    gap: 20px;
    padding-bottom: 20px; /* Abstand für die Scrollbar */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    scroll-behavior: smooth; /* Ensures smooth scrolling */
}

.spiel {
    flex-shrink: 0;
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.spiel-info {
    padding: 5px;
    text-align: center;
}

.spiel-info h3 {
    margin-top: 0;
}

.spiel-image {
    text-align: center;
}

.spiel-image img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

/* Spiel-Button */
.play-button {
    background-color: #00bf24;
    color: white;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.play-button span {
    margin-right: 5px;
}

/* Scroll Buttons */
#scroll-left, #scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1000;
}

#scroll-left {
    left: 10px;
}

#scroll-right {
    right: 10px;
}

#scroll-left:hover, #scroll-right:hover {
    background-color: #555;
}

/* Hide horizontal scroll bar but still make it scrollable */
.spiel-container::-webkit-scrollbar {
    display: none;
}

.spiel-container {
    -ms-overflow-style: none;  /* IE und Edge */
    scrollbar-width: none;  /* Firefox */
}

/* "Zeig alle" Button */
.zeig-alle {
    font-size: 16px;
    float: right;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}
